<div class="page-breadcrumb" breadcrumb="ctrl.jsonModel.list.breadcrumb">
  {{#include-html}}studiov2.forms.breadcrumb{{/include-html}}
</div>

<!-- Title and Button Page -->
<div class="row row-title">
  <div class="col-xs-12 col-sm-5 no-padding">
    <label class="title-form no-padding" ng-bind="ctrl.jsonModel.label"></label>
  </div>

  <div class="page-actions pull-right" dragula="'buttons-top.bag'" dragula-model="ctrl.jsonModel.views.list.actions">
    <ng-include src="'/forms/studiov2.forms.actions.' + action.action" ng-repeat="action in ctrl.jsonModel.views.list.actions track by $index"></ng-include>
  </div>
</div>
<!-- End Title and Button Page -->
{{#include-html}}studiov2.forms.actions-form{{/include-html}}

<div class="row row-widget row-xp" id="list-view">
  {{#include-html}}studiov2.forms.view.filter{{/include-html}}
</div>

<div form-field-id="26533" class="row row row-list">
  <div form-field-id="26534" class="col-xs-12 no-padding">
    <div role="app-widget" form-field-id="26535" class="widget-box widget-well">
      <div class="widget-header">
        <h5 class="widget-title">Lista de Resultados</h5>
        <div class="widget-toolbar default-toolbar hidden-print">
          <div class="dt-buttons btn-group">
            <a class="btn btn-default buttons-copy buttons-html5" tabindex="0" aria-controls="tbl-result-list"><span><i class="fa fa-fw fa-copy blue"></i></span></a>
            <a class="btn btn-default buttons-csv buttons-html5" tabindex="0" aria-controls="tbl-result-list"><span><i class="fa fa-fw fa-file-excel-o green"></i></span></a>
            <a class="btn btn-default buttons-pdf buttons-html5" tabindex="0" aria-controls="tbl-result-list"><span><i class="fa fa-fw fa-file-pdf-o red"></i></span></a>
            <a class="btn btn-default buttons-print" tabindex="0" aria-controls="tbl-result-list"><span><i class="fa fa-fw fa-print gray"></i></span></a>
          </div>
          <a href="#" data-action="collapse"><i class="fa fa-fw fa-chevron-up" role="app-widget-collapse"></i></a>
        </div>
      </div>
      <div class="widget-body">
        <div class="widget-main">
          <table role="grid" class="table table-striped table-hover">
            <thead>
              <tr role="row">
                <th ng-bind="field.label" ng-repeat="field in ctrl.jsonModel.fields track by $index" ng-show="field.views.list"></th>
                <th class="table-row-actions" rowspan="1" colspan="1" aria-label="" style="width: 110px;">
                  <div class="btn-group select-columns pull-right" uib-dropdown keyboard-nav="true" auto-close="outsideClick">
                    <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                      Colunas <i class="caret"></i>
                    </button>
                    <div uib-dropdown-menu role="menu" class="dropdown">
                      <div class="option-filter">
                        <input type="text" class="form-control" placeholder="Filter" ng-model="textFilter"/>
                      </div>
                      <ul class="list-unstyled option-list">
                        <li role="menuitem" ng-repeat="field in ctrl.jsonModel.fields | filter:textFilter track by $index">
                          <input type="checkbox" id="label{{item}}" ng-model="field.views.list" ng-false-value="undefined" ng-true-value="{}" />
                          <label for="label{{field.alias}}" ng-bind="field.label"></label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td ng-repeat="field in ctrl.jsonModel.fields track by $index" ng-show="field.views.list"> Exemplo </td>
                <td ng-if="!ctrl.jsonModel.fields.length">Ainda não há campos selecionados</td>
                <td class="table-row-actions" ng-if="ctrl.jsonModel.fields.length">
                  <button type="button" class="btn btn-sm btn-primary pull-right">
                    <i class="fa fa-fw fa-pencil"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-danger pull-right">
                    <i class="fa fa-fw fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- <div class="row">
            <div class="col-xs-6 no-padding">
              <div class="dataTables_paginate paging_simple_numbers" id="tbl-result-list_paginate">
                <ul class="pagination">
                  <li class="paginate_button previous disabled"><a href="#">Anterior</a></li>
                  <li class="paginate_button active"><a href="#">1</a></li>
                  <li class="paginate_button "><a href="#">2</a></li>
                  <li class="paginate_button "><a href="#">3</a></li>
                  <li class="paginate_button "><a href="#">4</a></li>
                  <li class="paginate_button "><a href="#">5</a></li>
                  <li class="paginate_button next" id="tbl-result-list_next"> <a href="#">Próximo</a> </li>
                </ul>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>