<div class="btn-cluster">
  <div class="stock-separator">
    <label>Desabilitado</label>
  </div>
  <div class="row">
    <div class="form-group">
      <select class="form-control input-sm">
        <option value="yes">Sim</option>
        <option value="no">Não</option>
        <option value="function">Função</option>
        <option value="map">Propriedade/Valor</option>
      </select>
    </div>
  </div>

  <!-- Função -->
  <div class="form-group type-function">
    <label for="">Função</label>
    <button class="btn btn-primary btn-sm pull-right"><i class="fa fa-fw fa-floppy-o"></i> Salvar</button>
    <textarea class="form-control input-sm input-txt" ng-model="ctrl.editBt.fnExpression"></textarea>
  </div>
  <!-- Fim Função -->

  <!-- Mapa -->
  <div class="form-group type-map">
    <label for="">Propriedade/Valor</label>

    <div class="row">
      <div class="form-group col-sm-4 no-padding">
        <label for="">Propriedade:</label>
        <select class="form-control input-sm" ng-model="ctrl.mapEdit.prop"></select>
      </div>
      <div class="form-group col-sm-5 col-sm-offset-1 no-padding">
        <label for="">Valor:</label>
        <input class="form-control input-sm" placeholder="Escreva aqui" type="text" ng-model="ctrl.mapEdit.value">
      </div>
      <div class="form-group col-sm-2 no-padding">
        <button class="btn btn-success btn-style-plus"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
    </div>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Propriedade</th>
          <th>Valor</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>id</td>
          <td>02</td>
          <td>
            <button class="btn btn-primary btn-sm"><i class="fa fa-fw fa-pencil"></i></button>
            <button class="btn btn-danger btn-sm"><i class="fa fa-fw fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <td>CEP</td>
          <td>04381-000</td>
          <td>
            <button class="btn btn-primary btn-sm"><i class="fa fa-fw fa-pencil"></i></button>
            <button class="btn btn-danger btn-sm"><i class="fa fa-fw fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Fim Mapa -->
</div>