<div class="row">
    <!-- Buttons Actions Form -->
    <div class="pull-right page-actions no-padding">
      <button type="button" class="btn btn-default" ng-click="ctrl.saveForm()">Salvar form</button>
      <button type="button" class="btn btn-default" ng-click="ctrl.showConfigForm(ctrl.jsonModel)">
        <i class="fa fa-cog" aria-hidden="true"></i> Configuração
      </button>
      <button type="button" class="btn btn-sm btn-default" title="Preview" ng-click="ctrl.formPreview()">
        <i class="fa fa-fw fa-play"></i>
      </button>
    </div><!-- End Buttons Actions Form -->
 </div>