<ol class="breadcrumb">
  <li class="breadcrumb-item breadcrumb-divisor" ng-if="bc.hasOwnProperty('icon')" ng-repeat-start="bc in breadcrumb track by $index">
    <div class="dropdown pull-left">
      <button class="btn btn-primary dropdown-toggle" 
              type="button" 
              id="dropdownMenu1" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="true"
              ng-show="breadcrumb[0].icon">

        <i class="{[{breadcrumb[0].icon}]}" aria-hidden="true"></i>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li ng-click="breadcrumb[0].icon = 'fa fa-home'">
          <a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li ng-click="breadcrumb[0].icon = ''">
          <a href="#" class="li-danger"><i class="fa fa-trash" aria-hidden="true"></i> Remover</a>
        </li>
      </ul>
    </div>
  </li>

  <li class="breadcrumb-item" ng-if="bc.hasOwnProperty('bind')">
    <input class="form-control input-sm bc-txt" 
           ng-model="bc.bind"
           disabled
           type="text" />
    <a href="" title="Fechar" class="trash-bc-input" ng-click="removeItem($index)">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </a>
    
    <ul class="list-options">
      <li class="item-op">
        <label>ou</label>
      </li>
      <li class="item-op">
        <button class="btn btn-primary btn-block" type="button" ng-click="editFieldBreadcrumb($index)">
          <i class="fa fa-plus" aria-hidden="true"></i> Editar
        </button>
      </li>
    </ul>
  </li>

  <li class="breadcrumb-item bc-bind" ng-if="bc.hasOwnProperty('label')">
    <input class="form-control input-sm bc-txt" 
           placeholder="Escreva aqui"
           ng-model="bc.label"
           type="text" />
    <a href="" title="Fechar" class="trash-bc-input" ng-click="removeItem($index)">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </a>

    <ul class="list-options">
      <li class="item-op">
        <label>ou</label>
      </li>
      <li class="item-op">
        <button class="btn btn-primary btn-block" type="button" ng-click="onBindBreadcrumb($index)">
          <i class="fa fa-plus" aria-hidden="true"></i> Selecione um campo
        </button>
      </li>
    </ul>
  </li>
  
  <li class="breadcrumb-item breadcrumb-divisor" ng-if="bc.hasOwnProperty('divisor')" ng-repeat-end>
    <div class="dropdown pull-left">
      <button class="btn btn-primary dropdown-toggle" 
              type="button" 
              id="dropdownMenu1" 
              ng-bind="bc.divisor"
              data-toggle="dropdown"
              aria-haspopup="true"  
              aria-expanded="true">
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li ng-click="changeDivisor('>')"><a href="">></a></li>
        <li ng-click="changeDivisor('/')"><a href="">/</a></li>
      </ul>
    </div>
  </li>


  <li class="breadcrumb-item">
    <button class="btn btn-primary btn-bc"
            type="button" 
            ng-click="addItem()"
            id="add-bc">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </li>

</ol>