<div class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item bc-bind">
      <input type="text" class="form-control input-sm bc-txt" ng-model="ctrl.breadcrumb.path" />
    </li>

    <li class="breadcrumb-item bc-bind">
      <input class="form-control input-sm bc-txt" 
            placeholder="bind"
            ng-model="ctrl.breadcrumb.bind"
            type="text"
            uib-typeahead="field.alias as field.alias for field in ctrl.entityForm.attributes | filter:{alias: $viewValue}" 
            typeahead-min-length="0" />
    </li>

  </ol>
</div>