<!-- Content Form -->
<div class="main-full">
  <div class="content-field">
    <!-- Buttons Active -->
    <div class="page-breadcrumb text-right btn-active">
      <button type="button" class="btn btn-success btn-available">Novo</button>
      <button type="button" class="btn btn-default btn-available">Cancelar</button>
      <button type="button" class="btn btn-danger btn-available">Remover</button>
      <button type="button" class="btn btn-primary btn-available">Salvar</button>
    </div><!-- End Buttons Active -->

    <!-- Title and Button Page -->
    <div class="row row-title">
      <div class="col-xs-13 col-sm-6 no-padding">
        <label class="title-form no-padding">Form Title</label>
      </div>
      <!-- Buttons Actions Form -->
      <div class="col-xs-12 col-sm-6 text-right no-padding">
        <button type="button" id="settings" class="btn btn-default pull-right">
          <i class="fa fa-cog" aria-hidden="true"></i> Configuração
        </button>
        <div class="dropdown pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li class="tlt-drop">Visões</li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Visão Edição</a></li>
            <li><a href="#">Visão Lista</a></li>
          </ul>
        </div>
      </div><!-- End Buttons Actions Form -->
    </div><!-- End Title and Button Page -->

    <!-- Text Alert Template -->
    <div class="row row-alert-template">
      <p>Este formulário existe uma padronização de títulos e campos. Caso queira alterar este padrão, acesse configuração do formulário e altere o layout conforme sua necessidade. Não se esqueça que antes de salvar o formulário, é importante informar os dados de configuração. Saiba mais clicando <a href="" title="" class="info-link">aqui.</a></p>
    </div><!-- End Text Alert Template -->

    <!-- Main View Edit -->
    <div class="main-view-edit">

      <!-- Sections -->
      <div class="row row-widget row-xp" ng-repeat="section in ctrl.sections">
        <div role="app-widget" class="widget-box widget-well">
          <div class="widget-header">
            <h5 class="widget-title" ng-bind="section.label"></h5> (widget edit)
          </div>
          <div class="widget-body">
            <div class="widget-main">
              <div class="row" ng-if="section.templateCol == 1">
                <div class="col-wdg col-sm-6 no-padding col-sm-offset-2">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="watch-space active-this">
                        <span class="new-txt">Novo Campo</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" ng-if="section.templateCol == 2">
                <div class="col-wdg col-sm-6 no-padding">

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="watch-space active-this">
                        <span class="new-txt">Novo Campo</span>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-wdg col-sm-6 no-padding">
                </div>
              </div> 

              <div class="row" ng-if="section.templateCol == 3">
                <div class="col-wdg col-sm-4 no-padding">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="watch-space active-this">
                        <span class="new-txt">Novo Campo</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-wdg col-sm-4 no-padding">
                </div>
                <div class="col-wdg col-sm-4 no-padding">
                </div> 
              </div>  
            </div>
          </div>
        </div>
      </div>
      <!-- Sections-->

      <!-- New Widget -->
      <div class="row row-new-widget" ng-show="ctrl.onNewSection">
        <div class="active-this">
          <span class="new-txt">Nova Seção</span>
        </div>
      </div>
      <!-- End New Widget -->

    </div><!-- End Main View Edit -->
  </div>
</div><!-- End Content Form