<div role="app-widget" class="widget-box widget-well filter-box">
  <div class="widget-header">
    <h5 class="widget-title">Buscar</h5>
  </div> 

  <div class="widget-body">
    <div class="widget-main">
      <div class="row">
        <div class="col-xs-12 col-sm-3 no-padding">
          <select  class="form-control input-sm" id="input-crm_person-do_type">
            <option value="">Selecione</option>
            <option value="s" selected="">Inativo</option>
            <option value="Q">Ativo</option>
            <option value="Q">Inativo/Ativo</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-3">
          <input  class="form-control input-sm" id="txt-person-zipcode" placeholder="Escreva aqui" data-rule-number="true" data-format="####" type="text" data-rule>
        </div>
        <div class="col-xs-12 col-sm-2 col-sm-offset-4 no-padding text-right">
          <button type="button" class="btn btn-warning btn-block"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
        </div>
      </div>
    </div>
  </div>
</div>