<div role="app-widget" class="widget-box widget-well filter-box">
  <div class="widget-header">
    <h5 class="widget-title">Buscar</h5>
  </div> 

  <div class="widget-body">
    <div class="widget-main">
      <div class="row row-edit-this">
        <div class="col-xs-12 col-sm-3"
            id="field-{[{$index}]}"
            ng-click="ctrl.editField(field, $index)"
            ng-show="field.meta.type == 'string'"
            ng-repeat="field in ctrl.jsonModel.fields | filter: ctrl.fieldHasFilterView(value, index, array) track by $index">
            <label for="" ng-bind="field.label"></label>
            <input type="text" class="form-control form-control-sm">
        </div>
    </div>
  </div>
</div>