<div class="form-group">
  <label for="">Max Size (MB)</label>
  <i class="fa fa-info-circle pull-right" tooltip-placement="auto" uib-tooltip-html="'O tamanho máximo é de 50mb'"></i>
  <input type="text" only-number class="form-control input-sm" ng-model="ctrl.fieldEdit.meta.maxSize" placeholder="Ex: 40" ng-blur="ctrl.validateConfigField()">

  <small class="text-danger" ng-if="ctrl.fieldEdit.error.file_maxSize">O tamanho máximo é de 50Mb</small>
  <small class="text-danger" ng-if="ctrl.fieldEdit.error.file_minSize">O tamanho mínimo é de 1Mb </small>
  <small class="text-danger" ng-if="ctrl.fieldEdit.error.file_maxSizeNumber">Este não é um tamanho válido</small>
</div>

<div class="form-group">
  <label for="">Tipos de arquivos</label>
  <div class="btn-group btn-block" uib-dropdown is-open="status.isopen" auto-close="outsideClick">
    <button id="single-button" type="button" class="btn btn-default btn-sm full-width" uib-dropdown-toggle>
      <span ng-if="!ctrl.fieldEdit.fileTypes.length">Selecione</span>
      <span ng-if="ctrl.fieldEdit.fileTypes.length">{[{ctrl.fieldEdit.fileTypes.length}]} tipo(s) selecionados</span>
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu dropdown-extensions-options" uib-dropdown-menu role="menu" aria-labelledby="single-button">
      <li role="menuitem" ng-repeat="type in ctrl.fieldEdit.FILE_EXTENSIONS.types track by $index">
        <label for="choose-type{[{ $index }]}">
          <input type="checkbox" id="choose-type{[{ $index }]}" ng-model="type.checked" ng-change="ctrl.selectExtension(type)">
          {[{ type.name }]}
        </label>
      </li>
    </ul>
  </div>
</div>
<div class="form-group">
  <label for="">Outras extensões (separe por vírgulas)</label>
  <input type="text" ng-model="ctrl.fieldEdit.meta.othersExtensions" class="form-control input-sm">
</div>