<div class="form-group">
  <label for="">Max Size (MB)</label>
  <input type="text" class="form-control input-sm" ng-model="ctrl.fieldEdit.meta.maxSize" placeholder="Ex: 1024">
</div>

<!-- por input text -->
<!-- <div class="form-group">
  <label for="">Extensões permitidas (separados por vírgulas)</label>
  <input type="text" class="form-control input-sm" ng-model="ctrl.fieldEdit.meta.extensions" placeholder="Ex: jpg, png, exe">
</div> -->

<!-- <div class="form-group">
  <label for="">Tipos de arquivos</label>
  <tags-input ng-model="ctrl.fieldEdit.meta.extensions" 
            display-property="name" 
            replace-spaces-with-dashes="false"
            add-from-autocomplete-only="true"
            select-first-match="true"
            placeholder="">
    
  </tags-input>
</div>

 --><!-- por seleção -->
<div class="form-group">
  <label for="">Tipos de arquivos</label>
  <div class="btn-group btn-block" uib-dropdown is-open="status.isopen" auto-close="outsideClick">
    <button id="single-button" type="button" class="btn btn-default btn-sm full-width" uib-dropdown-toggle>
      <span ng-if="!ctrl.fieldEdit.fileTypes.length">Selecione</span>
      <span ng-if="ctrl.fieldEdit.fileTypes.length">{[{ctrl.fieldEdit.fileTypes.length}]} tipo(s) selecionados</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-extensions-options" uib-dropdown-menu role="menu" aria-labelledby="single-button">
      <li role="menuitem" ng-repeat="type in ctrl.FILE_EXTENSIONS.types track by $index">
        <label for="choose-type{[{ $index }]}">
          <input type="checkbox" id="choose-type{[{ $index }]}" ng-model="type.checked" ng-change="ctrl.selectExtension(type)">
          {[{ type.name }]}
        </label>
      </li>
    </ul>
  </div>
</div>
<div class="form-group">
  <label for="">Outras extensões (separe por vírgulas)</label>
  <input type="text" ng-model="ctrl.fieldEdit.meta.othersExtensions" class="form-control input-sm">
</div>