{{#include-html}}studiov2.forms.sidebar.config-fields.size{{/include-html}}
{{#include-html}}studiov2.forms.sidebar.config-fields.min-length{{/include-html}}
{{#include-html}}studiov2.forms.sidebar.config-fields.max-length{{/include-html}}
{{#include-html}}studiov2.forms.sidebar.config-fields.placeholder{{/include-html}}
{{#include-html}}studiov2.forms.sidebar.config-fields.mask{{/include-html}}

<div class="form-group" ng-hide="ctrl.fieldEdit.auditField">
  <label for="">Pattern (Regexp)</label>
  <input type="text" class="form-control input-sm" ng-model="ctrl.fieldEdit.meta.pattern.regexp" ng-blur="ctrl.validateConfigField('regexp')">
  <small class="text-danger" ng-if="ctrl.fieldEdit.error.regexp"> A regex acima está inválida. </small>
</div>

<div class="form-inline" ng-hide="ctrl.fieldEdit.auditField">
  <label for="pattern-ignorecase">
    <input type="checkbox" id="pattern-ignorecase" ng-model="ctrl.fieldEdit.meta.pattern.ignoreCase" ng-true-value="'i'" ng-false-value="''"> Ignore case
  </label>
  <label for="pattern-global">
    <input type="checkbox" id="pattern-global" ng-model="ctrl.fieldEdit.meta.pattern.global" ng-true-value="'g'" ng-false-value="''"> Global
  </label>
</div>