  <div class="page-breadcrumb" breadcrumb="ctrl.jsonModel.edit.breadcrumb"></div>

  <!-- Title and Button Page -->
  <div class="row row-title">
    <div class="col-xs-12 col-sm-5 no-padding">
      <label class="title-form no-padding" ng-bind="ctrl.jsonModel.label"></label>
    </div>

    <div class="page-actions pull-right" dragula="'buttons-top.bag'">
      <ng-include src="'/forms/studiov2.forms.actions.' + action.action" ng-repeat="action in ctrl.jsonModel.views.edit.actions track by $index"></ng-include>
    </div>
  </div><!-- End Title and Button Page -->

  <div class="row">
    <!-- Buttons Actions Form -->
    <div class="pull-right page-actions no-padding">
      <button type="button" class="btn btn-default" ng-click="ctrl.saveForm()">Salvar form</button>
      <button type="button" id="settings" class="btn btn-default pull-right" ng-click="ctrl.showConfigForm()">
        <i class="fa fa-cog" aria-hidden="true"></i> Configuração
      </button>
      <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" 
                type="button" 
                id="dropdownMenu1" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="true">
                <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li class="tlt-drop">Visões</li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Visão Edição</a></li>
          <li><a href="#">Visão Lista</a></li>
        </ul>
      </div>
    </div><!-- End Buttons Actions Form -->
  </div>

<!-- Text Alert Template -->
<div class="row row-alert-template">
  <p>Este formulário existe uma padronização de títulos e campos. Caso queira alterar este padrão, acesse configuração do formulário e altere o layout conforme sua necessidade. Não se esqueça que antes de salvar o formulário, é importante informar os dados de configuração. Saiba mais clicando <a href="" title="" class="info-link">aqui.</a></p>
</div><!-- End Text Alert Template -->

<!-- Main View Edit -->
<div class="main-view-edit">

  <!-- Sections -->
  <div class="row row-widget row-xp" ng-click="ctrl.selectSection($index)" ng-repeat="section in ctrl.sections track by $index" id="section-{[{$index}]}" ng-class="{'section-selected': ctrl.sectionSelected.id === section.id}">
    <div role="app-widget" class="widget-box widget-well">
      <div class="widget-header">
        <h5 class="widget-title" ng-show="section.displayLabel" ng-bind="section.label"></h5>
      </div>
      <div class="widget-body">
        <div class="widget-main">
          <div class="row" ng-if="section.columns == 1">
            <div class="col-wdg col-sm-6 no-padding col-sm-offset-2">
              <div class="row" dragula="'1col-bag'" ng-show="section.fields.length">
                <div class="row row-edit-this"
                    id="field-{[{$index}]}" 
                    ng-repeat="field in section.fields track by $index" 
                    ng-include="'/forms/studiov2.forms.fields.'+ field.meta.type" ng-click="ctrl.editField(field, $index)">
              </div>
            </div>
            <ng-include src="'/forms/studiov2.forms.fields.placeholder'"></ng-include>
          </div>
        </div>

        <div class="row" ng-if="section.columns == 2">
          <div class="col-wdg col-sm-6 no-padding">
            <div class="row" dragula="'2col-bag'" ng-show="section.fields.length">
              <div class="row row-edit-this" 
                  ng-repeat="field in section.fields track by $index" 
                  id="field-{[{$index}]}" ng-include="field.templateType" ng-click="ctrl.editField(field, $index)">
            </div>
          </div>
          <ng-include src="'/forms/studiov2.forms.fields.placeholder'"></ng-include>
        </div>
        <div class="col-wdg col-sm-6 no-padding">
          <div class="row" dragula="'2col-bag'" ng-show="section.fields.length">
          </div>
        </div>
      </div> 

      <div class="row" ng-if="section.columns == 3">
        <div class="col-wdg col-sm-4 no-padding">
          <div class="row" dragula="'3col-bag'" ng-show="section.fields.length">
            <div class="row row-edit-this" 
            ng-repeat="field in section.fields track by $index" 
            id="field-{[{$index}]}" ng-include="field.templateType" ng-click="ctrl.editField(field, $index)"> 
          </div>
        </div>
        <ng-include src="'/forms/studiov2.forms.fields.placeholder'"></ng-include>
      </div>
      <div class="col-wdg col-sm-4 no-padding">
        <div class="row" dragula="'3col-bag'" ng-show="section.fields.length">
        </div>
      </div>
      <div class="col-wdg col-sm-4 no-padding">
        <div class="row" dragula="'3col-bag'" ng-show="section.fields.length">
        </div>
      </div> 
    </div>  
  </div>
</div>
</div>
</div>
<!-- Sections-->

<!-- New Widget -->
<div class="row row-new-widget" ng-show="ctrl.onNewSection">
  <div class="active-this">
    <span class="new-txt">Nova Seção</span>
  </div>
</div>
<!-- End New Widget -->

</div><!-- End Main View Edit -->
