{{#include-html}}studiov2.forms.breadcrumb{{/include-html}} 

<!-- Title and Button Page -->
<div class="row row-title">
  <div class="col-xs-12 col-sm-5 no-padding">
    <label class="title-form no-padding" ng-bind="ctrl.jsonModel.label"></label>
  </div>
</div>

<div class="row row-title">
  <div class="page-actions pull-right" id="edit-actions-top" dragula="'buttons-edit'" dragula-model="ctrl.jsonModel.views.edit.actions">
    <ng-include 
      src="'/forms/studiov2.forms.actions.' + action.action"
      ng-repeat="action in ctrl.jsonModel.views.edit.actions track by $index">
    </ng-include>
  </div>
</div>
<!-- End Title and Button Page -->

<!-- Main View Edit -->
<div class="main-view-edit row">
  <!-- Sections -->
  <div class="row row-widget row-xp" 
      id="section-{[{$index}]}" 
      ng-click="ctrl.selectSection($index)" 
      ng-repeat="section in ctrl.sections track by $index" 
      ng-class="{'section-selected': ctrl.sectionSelectedIndex === $index}">

    <div role="app-widget" class="widget-box widget-well">
      <div class="widget-header">
        <h5 class="widget-title" ng-bind="section.label" ng-hide="section.notDisplayLabel"></h5>
        <div class="widget-toolbar">
          <div class="btn-group">
            <i class="fa fa-pencil" ng-click="ctrl.editSection($index)"></i>
            <i class="fa fa-trash" ng-click="ctrl.removeSection($index)" ng-hide="section.type == 'main'"></i>
            <i class="fa fa-arrow-up" ng-click="ctrl.moveSection($index, $index - 1)" ng-show="section.type != 'main' && $index > 1"></i>
            <i class="fa fa-arrow-down" ng-click="ctrl.moveSection($index, $index + 1)" ng-show="section.type != 'main' && ($index +1) < ctrl.sections.length"></i>
          </div>
        </div>
      </div>

      <div class="widget-body" ng-if="section.type == 'main' || section.isSameDataSource">
        <div class="widget-main clearfix">
          {{#include-html}}studiov2.forms.sections.section-1col{{/include-html}}
          {{#include-html}}studiov2.forms.sections.section-2col{{/include-html}}
          {{#include-html}}studiov2.forms.sections.section-3col{{/include-html}}
        </div>
      </div>

      <div class="widget-body" ng-if="section.includeType == 'list'">
        <p class="text-center" ng-if="section.finder.relatedFinders"> 
          <a target="_blank" href="/static/finder/edit.html?entityName={[{section.finder.entityName}]}&finder={[{section.finder.relatedKey[0].key}]}" ng-if="section.finder.relatedFinders.length == 1">
            Finder: {[{ section.finder.relatedFinders[0].key }]} ({[{section.finder.entityName}]})
          </a>
          <span ng-if="section.finder.relatedFinders.length > 1"> {[{ section.finder.relatedFinders.length }]} finder(s) selecionados(s)</span>
        </p>

        <p class="text-center" ng-if="!section.finder.relatedFinders || !section.finder.relatedFinders.length">
          <a target="_blank" href="/static/finder/edit.html?entityName={[{section.finder.entityName}]}&finder={[{section.finder.key}]}">
            Finder: {[{ section.finder.key }]} ({[{ section.finder.entityName }]})
          </a>
        </p>
      </div>

      <div class="widget-body" ng-if="section.includeType =='finder-service'">
        <p class="text-center">
          Finder: {[{ section.finder.sourceKey }]} (Service)
        </p>
      </div>

      <div class="widget-body" ng-if="section.includeType == 'edit' && !section.isSameDataSource">
        <p class="text-center"> 
          <a target="_blank" href="" ng-click="ctrl.openFormTab(section.include)">
            Form: {[{ section.include.name }]} ( {[{section.include.key}]} )
          </a>
        </p>
      </div>

      <div class="widget-body" ng-if="section.includeType == 'templateCustom'">
        <p class="text-center"> 
          Template: {[{section.include.template}]}
        </p>
      </div>
    </div>
  </div>
  <!-- Sections-->

  <!-- New Widget -->
  <div class="row row-new-widget" ng-show="ctrl.onNewSection">
    <div class="active-this">
      <span class="new-txt">Nova Seção</span>
    </div>
  </div>
  <!-- End New Widget -->
</div>
<!-- End Main View Edit -->