<div class="row">
  <div class="col-sm-12 col-xs-12 no-padding form-group">
    <label for="">Origem das opções</label>
    <select class="form-control input-sm" ng-model="ctrl.fieldEdit.meta.dataSource.type">
      <option value="">selecione</option>
      <option value="E">Entidade</option>
      <option value="S">Serviço</option>
      <option value="D">Opções pré-definidas</option>
      <option value="M">Criar opções</option>
    </select>
  </div> 
</div>

<div class="form-group" ng-show="ctrl.fieldEdit.meta.dataSource.type == 'D' || ctrl.fieldEdit.meta.dataSource.type == 'M'">
  <button type="button" class="btn btn-primary" ng-click="ctrl.openModalForConfig(ctrl.fieldEdit.meta, 'options', 'options')"> Editar Opções </button>
</div> 

<div class="row" ng-show="ctrl.fieldEdit.meta.dataSource.type == 'E'">
  <div class="col-xs-12 col-sm-12 no-padding">
    <div class="form-group">
      <div class="btn-group btn-block">
        <button class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          {[{ ctrl.moduleEntity.title || 'Módulos' }]} <i class="caret"></i>
        </button>
        <ul class="dropdown-menu btn-block">
          <li class="dropdown-header" ng-repeat-start="app in ctrl.apps track by $index" ng-bind="app.title"> </li>
          <li ng-repeat="mod in app.modules" ng-click="ctrl.getModuleEntity(mod.id, ctrl.fieldEdit.dataSource)"><a href="" ng-bind="mod.title"></a></li>
          <li ng-repeat-end role="separator" class="divider" ng-hide="$last"></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 no-padding">
    <div class="form-group">
      <label for="">Entidade</label>
      <select class="form-control input-sm" 
      ng-model="ctrl.fieldEdit.meta.dataSource.key" 
      ng-options="entity.name as entity.name for entity in ctrl.entities">
      <option value="">Selecione</option>
    </select>
  </div>
</div>

<div class="row" ng-if="ctrl.fieldEdit.meta.dataSource.type == 'S'">
  <div class="form-group">
    <label for="">Source Key:</label>
    <input class="form-control input-sm" placeholder="Escreva aqui" type="text" ng-model="ctrl.fieldEdit.meta.dataSource.key">
  </div>
  <div class="form-group">
    <label for="">Método:</label>
    <input class="form-control input-sm" placeholder="Escreva aqui" type="text" ng-model="ctrl.fieldEdit.meta.dataSource.method">
  </div>
</div>

