<div class="form-group" ng-hide="ctrl.fieldEdit.meta.type == 'finder'">
  <div class="stock-separator">
    <label for="">Origem das opções</label>
  </div>

  <label for="">Tipo</label>
  <select class="form-control input-sm" ng-model="ctrl.fieldEdit.dataSourceType" ng-change="ctrl.selectDataSourcetype(ctrl.fieldEdit.dataSourceType)">
    <option value="">Selecione</option>
    <option value="E">Entidade</option>
    <option value="S">Serviço</option>
    <option value="D">Opções pré definidas</option>
    <option value="O">Opções editáveis</option>
  </select>
</div>

<div class="form-group" ng-show="ctrl.fieldEdit.dataSourceType == 'O'">
  <button type="button" class="btn btn-primary" ng-click="ctrl.openModalForConfig(ctrl.fieldEdit.meta, 'options', 'options')"> Editar Opções </button>
</div>

<div class="row" ng-show="ctrl.fieldEdit.dataSourceType == 'E' || ctrl.fieldEdit.meta.type == 'finder'">
  <div class="stock-separator" ng-if="ctrl.fieldEdit.meta.type == 'finder'">
    <label for="">Origem do Finder</label>
  </div>
  <div class="form-group">
    <div class="btn-group btn-block">
      <button class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown">
        {[{ ctrl.moduleEntity.title || 'Módulos' }]} <i class="caret"></i>
      </button>
      <ul class="dropdown-menu btn-block">
        <li class="dropdown-header" ng-repeat-start="app in ctrl.apps track by $index" ng-bind="app.title"> </li>
        <li ng-repeat="mod in app.modules track by $index" ng-click="ctrl.getModuleEntity(mod.id, ctrl.fieldEdit.finder)">
          <a href="" ng-bind="mod.title"></a>
        </li>
        <li ng-repeat-end role="separator" class="divider" ng-hide="$last"></li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="">Entidade</label>
    <input type="text" 
          class="form-control input-sm" 
          placeholder="Selecione" 
          ng-model="ctrl.fieldEdit.finder.entityName" 
          ng-blur="ctrl.setFinder($model, ctrl.fieldEdit)" 
          uib-typeahead="entity.name as entity.name for entity in ctrl.entities | filter:{name: $viewValue}"
          typeahead-min-length="0" />
  </div>

  <div class="form-group">
    <label for="">Finder:</label>
    <select class="form-control input-sm" 
            ng-change="ctrl.getFinder(ctrl.fieldEdit.finder.entityName, ctrl.fieldEdit.finder.key)"
            ng-model="ctrl.fieldEdit.finder.key"
            ng-options="finder.key as finder.title for finder in ctrl.finders">
    </select>
  </div>

  <div class="form-group" ng-if="ctrl.fieldEdit.meta.type != 'finder'">
    <label for="">Campo</label>
    <select class="form-control input-sm" ng-model="ctrl.fieldEdit.finder.fieldIndex">
      <option value="{[{ $index }]}" ng-repeat="field in ctrl.finder.fields">{[{ field.fieldName }]}</option>
    </select>
  </div>

  <div class="form-group" ng-if="ctrl.fieldEdit.meta.type == 'finder'">
    <label for="">Bind text</label>
    <input type="text" class="form-control input-sm" ng-model="ctrl.fieldEdit.finder.bindText">
  </div>

  <div class="form-group">
    <label for="">Dependências (Fields)</label>
    <select class="form-control input-sm" 
            multiple 
            ng-change="ctrl.getReferenceFk(ctrl.fieldEdit.bindDependencies)"
            ng-options="field.meta.bind as field.label for field in ctrl.selectFields" 
            ng-model="ctrl.fieldEdit.bindDependencies">
    </select>
  </div>

  <div class="form-group" ng-if="ctrl.depReferences">
    <label for="">Dependências (Referências)</label>
    <select class="form-control input-sm" 
            multiple 
            ng-options="ref.bindForm as ref.fk for ref in ctrl.depReferences" 
            ng-model="ctrl.fieldEdit.bindReferences">
    </select>
  </div>
  
  <div class="form-group" ng-show="ctrl.fieldEdit.type == 'finder'">
    <label for="">Formulário de edição</label>
    <select class="form-control input-sm" 
            ng-model="ctrl.fieldEdit.finder.editTemplate"
            ng-options="form.key as (form.name || form.key) for form in ctrl.entityForms">
        <option value="">Padrão</option>
    </select>
  </div>
</div>

<div class="row" ng-show="ctrl.fieldEdit.dataSourceType == 'S'">
  <div class="form-group">
    <div class="btn-group btn-block">
      <button class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown">
        {[{ ctrl.moduleEntity.title || 'Módulos' }]} <i class="caret"></i>
      </button>
      <ul class="dropdown-menu btn-block">
        <li class="dropdown-header" ng-repeat-start="app in ctrl.apps track by $index" ng-bind="app.title"> </li>
        <li ng-repeat="mod in app.modules track by $index" ng-click="ctrl.getSources(mod.id, ctrl.fieldEdit.serviceSource)">
          <a href="" ng-bind="mod.title"></a>
        </li>
        <li ng-repeat-end role="separator" class="divider" ng-hide="$last"></li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="">Source Key:</label>
    <input type="text"
            class="form-control input-sm" 
            ng-model="ctrl.fieldEdit.serviceSource.key"
            typeahead-min-length="0"
            uib-typeahead="source.key as source.key for source in ctrl.moduleEntitySources">
    
  </div>
  
  <div class="form-group">
    <label for="">Método:</label>
    <input type="text" class="form-control input-sm" ng-model="ctrl.fieldEdit.serviceSource.method">
  </div>

  <div class="form-group">
    <label for="">Dependências</label>
    <select class="form-control input-sm" 
            multiple 
            ng-options="field.meta.bind as field.label for field in ctrl.selectFields" 
            ng-model="ctrl.fieldEdit.serviceSource.dependencies">
    </select>
  </div>
</div>