<!-- Componentes -->
<ul class="nav-components sb-edit" ng-show="ctrl.onComponents">
  <!-- Estrutura -->
  <li class="item-components">
    Básico
    <div class="widget-toolbar default-toolbar hidden-print">
      <a href="#" data-action="collapse"><i class="fa fa-fw fa-chevron-up" role="app-widget-collapse"></i></a>
    </div>
  </li>
  <div class="inner-item structure-item">
    <ul class="list-existing">
      <li class="item-list" id="newWidget" ng-click="ctrl.addNewSection()">
        <div class="bx-elements"><span class="ic ic-widget"></span></div>
        <p class="txt-subtditle">Seção</p>
      </li>
      <li class="item-list" draggable ng-click="ctrl.showConfigBt()">
        <div class="bx-elements"><span class="ic ic-button"></span></div>
        <p class="txt-subtitle">Botão</p>
      </li>
      <li class="item-list">
        <div class="bx-elements"><span class="ic ic-paragraph"></span></div>
        <p class="txt-subtitle">Parágrafo</p>
      </li>
      <li class="item-list">
        <div class="bx-elements"><span class="ic ic-image"></span></div>
        <p class="txt-subtitle">Imagem</p>
      </li>
    </ul>
  </div>
  <!-- Estrutura -->

  <!-- Campos -->
  <li class="item-components">
    Campos
    <div class="widget-toolbar default-toolbar hidden-print">
      <a href="#" data-action="collapse"><i class="fa fa-fw fa-chevron-up" role="app-widget-collapse"></i></a>
    </div>
  </li>
  <div class="inner-item field-item">
    <button type="button" id="btnNewField" class="btn btn-success btn-block" ng-click="ctrl.setNewField()">Novo Campo</button>
    <ul class="list-existing" data-ng-repeat="field in ctrl.data.entityFields">
      <li class="field-existing" data-ng-bind="field.alias" ng-click="ctrl.setNewField(field)"></li>
    </ul>
  </div>
  <!-- Campos -->

  <!-- Botões -->
  <li class="item-components">
    Botões
    <div class="widget-toolbar default-toolbar hidden-print">
      <a href="#" data-action="collapse"><i class="fa fa-fw fa-chevron-up" role="app-widget-collapse"></i></a>
    </div>
  </li>
  <div class="inner-item field-item">
    <button type="button" id="btnNewField" class="btn btn-sm btn-success btn-block" ng-click="ctrl.addCustomButton()">Novo Botão</button>
  </div>
  <div class="inner-item buttons-item">
    <button type="button" class="btn btn-primary btn-sm btn-block-half active-form" ng-click="ctrl.addButton('edit', 'save')">Salvar</button>
    <button type="button" class="btn btn-primary btn-sm btn-block-half active-form" ng-click="ctrl.addButton('edit', 'savenew')">Salvar & Novo</button>
    <button type="button" class="btn btn-success btn-sm btn-block-half active-form" ng-click="ctrl.addButton('edit', 'duplicate')">Duplicar</button>
    <button type="button" class="btn btn-default btn-sm btn-block-half active-form" ng-click="ctrl.addButton('edit', 'cancel')">Cancelar</button>
    <button type="button" class="btn btn-danger btn-sm btn-block-half active-form" ng-click="ctrl.addButton('edit', 'remove')">Remover</button>
    <button type="button" class="btn btn-success btn-sm btn-block-half active-form" ng-click="ctrl.addButton('list', 'new')">Novo</button>
  </div>
  <!-- Botões -->

  <!-- Lista de Dependentes -->
  <li class="item-components">
    Lista de Dependentes
    <div class="widget-toolbar default-toolbar hidden-print">
      <a href="#" data-action="collapse"><i class="fa fa-fw fa-chevron-up" role="app-widget-collapse"></i></a>
    </div>
  </li>
  <div class="inner-item dependents-item">
    <ul class="list-existing" data-ng-repeat="dependent in ctrl.data.dependents">
      <li class="field-existing" data-ng-bind="dependent"></li>
    </ul>
  </div>
  <!-- Lista de Dependentes -->

  <!-- Gráficos 
  <li class="item-components">
    Graficos para Relatórios
    <div class="widget-toolbar default-toolbar hidden-print">
      <a href="#" data-action="collapse"><i class="fa fa-fw fa-chevron-up" role="app-widget-collapse"></i></a>
    </div>
  </li>
  
  Gráficos -->

</ul>
<!-- Componentes -->