<!--Componentes -->
<ul class="nav-components sb-edit" ng-show="ctrl.onComponents">
  <!-- Estrutura -->
  <li class="item-components">
    Básico
    <div class="widget-toolbar default-toolbar hidden-print">
      <a href="#" data-toggle="collapse" data-target="#basic-component">
        <i class="fa fa-fw fa-chevron-up" role="app-widget-collapse"></i>
       </a>
    </div>
  </li>
  <div class="inner-item structure-item collapse in" id="basic-component">
    <ul class="list-existing">
      <li class="item-list" id="newWidget" ng-click="ctrl.addNewSection()">
        <div class="bx-elements"><span class="ic ic-widget"></span></div>
        <p class="txt-subtitle">Seção</p>
      </li>

      <!-- <li class="item-list">
        <div class="bx-elements"><span class="ic ic-blank-space"></span></div>
        <p class="txt-subtitle">Espaço em branco</p>
      </li> -->
    </ul>
  </div>
  <!-- Estrutura -->

  <!-- Campos -->
  <li class="item-components">
    Campos
    <div class="widget-toolbar default-toolbar hidden-print">
      <a href="" data-toggle="collapse" data-target="#fields-component"><i class="fa fa-fw fa-chevron-up" role="app-widget-collapse"></i></a>
    </div>
  </li>
  <div class="inner-item field-item collapse in" id="fields-component">
    <!-- <button type="button" id="btnNewField" class="btn btn-success btn-block" ng-click="ctrl.addField()">Novo Campo</button> -->
    <ul class="list-existing" data-ng-repeat="field in ctrl.data.entityFields">
      <li class="field-existing" ng-click="ctrl.addField(field)" ng-bind="field.translatedName"></li>
    </ul>
  </div>
  <!-- Campos -->

  <!-- Botões -->
  <li class="item-components">
    Botões
    <div class="widget-toolbar default-toolbar hidden-print">
      <a href="" data-toggle="collapse" data-target="#buttons-component"><i class="fa fa-fw fa-chevron-up" role="app-widget-collapse"></i></a>
    </div>
  </li>
  <div class="inner-item buttons-item collapse in" id="buttons-component">
    <div class="btn-cluster" ng-show="ctrl.currentView == 'edit'">
      <div dragula="'buttons-edit'" class="buttons-default-group">
        <button type="button" 
                class="btn btn-primary" 
                id="btn-save"
                ng-disabled="ctrl.addedButtons.edit.save"
                ng-click="ctrl.addButton('save')">
          <i class="fa fa-fw fa-floppy-o"></i> {[{ 'button.save.title' | translate }]}
        </button>

        <button type="button" 
                class="btn btn-primary" 
                id="btn-savenew"
                ng-disabled="ctrl.addedButtons.edit.savenew"
                ng-click="ctrl.addButton('savenew')">
          <i class="fa fa-fw fa-floppy-o"></i> {[{ 'button.savenew.title' | translate }]}
        </button>

        <button type="button" 
                class="btn btn-success" 
                id="btn-duplicate"
                ng-disabled="ctrl.addedButtons.edit.duplicate"
                ng-click="ctrl.addButton('duplicate')">
          <i class="fa fa-fw fa-files-o"></i> {[{ 'button.duplicate.title' | translate }]}
        </button>

        <button type="button" 
                class="btn btn-default" 
                id="btn-cancel"
                ng-disabled="ctrl.addedButtons.edit.cancel"
                ng-click="ctrl.addButton('cancel')">
          <i class="fa fa-fw fa-undo"></i> {[{ 'button.cancel.title' | translate }]}
        </button>

<!--         <button type="button" 
                class="btn btn-primary"
                id="btn-modal"
                ng-click="ctrl.addButton('modal')">
          <i class="fa fa-window-restore" aria-hidden="true"></i> Modal
        </button> -->

        <button type="button" 
                class="btn btn-danger" 
                id="btn-remove"
                ng-disabled="ctrl.addedButtons.edit.remove"
                ng-click="ctrl.addButton('remove')">
          <i class="fa fa-fw fa-trash-o"></i> {[{ 'button.remove.title' | translate }]}
        </button>

<!--         <button type="button" 
                class="btn btn-primary" 
                id="btn-include.add"
                ng-disabled="ctrl.addedButtons.edit['include-add']"
                ng-click="ctrl.addButton('include.add')">
          <i class="fa fa-fw fa-trash-o"></i> {[{ 'button.add.title' | translate }]}
        </button> -->

<!--         <button type="button" 
                class="btn btn-primary" 
                id="btn-include.edit"
                ng-disabled="ctrl.addedButtons.edit['include-edit']"
                ng-click="ctrl.addButton('include.edit')">
          <i class="fa fa-fw fa-trash-o"></i> {[{ 'button.edit.title' | translate }]}
        </button> -->
<!--         <button type="button" 
                  id="btn-custom" 
                  class="btn btn-info" 
                  ng-click="ctrl.addButton('custom')">
            <i class="fa fa-plus" aria-hidden="true"></i> Botão customizado
        </button>  -->
      </div>
    </div>

    <!--
    <div class="btn-cluster" ng-show="ctrl.currentView == 'list'">
      <div class="stock-separator">
        <label>Tela de lista</label>
      </div>
      <div dragula="buttons-list" class="buttons-default-group">
        <button type="button" 
                class="btn btn-success" 
                id="btn-new"
                ng-disabled="ctrl.addedButtons.list.new"
                ng-click="ctrl.addButton('new')">
          <i class="fa fa-fw fa-pencil"></i> {[{ 'button.new.title' | translate }]} 
        </button>

        <button type="button" 
                class="btn btn-primary" 
                id="btn-view_edit"
                ng-disabled="ctrl.addedButtons.list.view_edit"
                ng-click="ctrl.addButton('view_edit')">
          <i class="fa fa-fw fa-pencil"></i> {[{'button.view.title' | translate }]}
        </button>

        <button type="button" 
                class="btn btn-danger" 
                id="btn-remove"
                ng-disabled="ctrl.addedButtons.list.remove"
                ng-click="ctrl.addButton('remove')">
          <i class="fa fa-fw fa-trash-o"></i> {[{'button.remove.title' | translate }]}
        </button>

         <button type="button" 
                class="btn btn-primary" 
                id="btn-modal"
                ng-click="ctrl.addButton('modal')">
          <i class="fa fa-window-restore" aria-hidden="true"></i> Modal
        </button>

         <button type="button" 
                  id="btn-custom" 
                  class="btn btn-info" 
                  ng-click="ctrl.addButton('custom')">
            <i class="fa fa-plus" aria-hidden="true"></i> Botão customizado
        </button> 
      </div> -->
    </div>
  <!-- Botões -->
</ul>
<!-- Componentes