<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Propriedade/Valor</h3>
</div>
<div class="modal-body" id="modal-body">
  <!-- Mapa -->
  <div class="form-group type-map">

    <div class="row" ng-repeat="map in $ctrl.expression">
      <div class="form-group col-sm-4 no-padding" ng-show="$ctrl.typeConfig == 'map'">
        <label for="">Propriedade:</label>
        <input type="text" 
              class="form-control input-sm" 
              placeholder= "Selecione"
              ng-model="map.key" 
              uib-typeahead="field.alias as field.alias for field in $ctrl.formFields | filter:{name: $viewValue}" 
              typeahead-min-length="0" />
      </div>

      <div class="form-group col-sm-4 no-padding" ng-show="$ctrl.typeConfig == 'options'">
        <label for="">Título:</label>
        <input class="form-control input-sm" ng-model="map.key">
      </div>

      <div class="form-group col-sm-5 col-sm-offset-1 no-padding">
        <label for="">Valor:</label>
        <input class="form-control input-sm" placeholder="Escreva aqui" type="text" ng-model="map.value">
      </div>

      <div class="form-group col-sm-2 no-padding">
        <button class="btn btn-danger btn-style-plus" ng-click="$ctrl.expression.splice($index, 1)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-4 no-padding" ng-show="$ctrl.typeConfig == 'map'">
        <label for="">Propriedade:</label>
        <input type="text" 
              class="form-control input-sm" 
              placeholder= "Selecione"
              ng-model="$ctrl.key" 
              uib-typeahead="field.alias as field.alias for field in $ctrl.formFields | filter:{name: $viewValue}" 
              typeahead-min-length="0" />
      </div>

      <div class="form-group col-sm-4 no-padding" ng-show="$ctrl.typeConfig == 'options'">
        <label for="">Título:</label>
        <input class="form-control input-sm" ng-model="$ctrl.key">
      </div>

      <div class="form-group col-sm-5 col-sm-offset-1 no-padding">
        <label for="">Valor:</label>
        <input class="form-control input-sm" placeholder="Escreva aqui" type="text" ng-model="$ctrl.value">
      </div>

      <div class="form-group col-sm-2 no-padding">
        <button class="btn btn-success btn-style-plus" 
                ng-click="$ctrl.expression.push({key: $ctrl.key, value: $ctrl.value}); $ctrl.key=''; $ctrl.value='';">
                <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
    </div> 
  </div>
  <!-- Fim Mapa -->
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>