<div class="btn-cluster">
  <div class="form-group">
    <div class="btn-group btn-block">
      <button class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown">
        {[{ ctrl.moduleEntity.title || 'Módulos' }]} <i class="caret"></i>
      </button>
      <ul class="dropdown-menu btn-block">
        <li class="dropdown-header" ng-repeat-start="app in ctrl.apps track by $index" ng-bind="app.title"> </li>
        <li ng-repeat="mod in app.modules track by $index" ng-click="ctrl.getModuleForms(mod.id)">
          <a href="" ng-bind="mod.title"></a>
        </li>
        <li ng-repeat-end role="separator" class="divider" ng-hide="$last"></li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label for="">Formulário</label>
    <input type="text" 
          class="form-control input-sm" 
          placeholder= "Selecione"
          ng-model="ctrl.editBt['form-id']" 
          uib-typeahead="form.name as form.key for form in ctrl.moduleForms | filter:{name: $viewValue}" 
          typeahead-min-length="0" />
  </div>
</div>

<div class="btn-cluster">
  <div class="stock-separator">
    <label>Ações ao fechar a modal</label>
  </div>
  <div class="form-group">
    <input type="checkbox" id="saveModalForm" ng-model="ctrl.editBt.onClose.saveModalForm">  
    <label for="saveModalForm">Salvar os dados da modal</label>
  </div>

  <div class="form-group">
    <label>Atualizar dados da edição</label>
    <select class="form-control input-sm" ng-model="ctrl.editBt.onClose.updateParentForm.type">
      <option value="">Selecione</option>
      <option value="function">Função</option>
      <option value="map">Propriedade/Valor</option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-sm" 
            ng-if="ctrl.editBt.updateParentForm.type == 'function'" 
            ng-click="ctrl.openModalForConfig(ctrl.editBt.onClose.updateParentForm, 'expression', 'function')">Editar função</button>

    <button class="btn btn-primary btn-sm" 
            ng-if="ctrl.editBt.onClose.updateParentForm == 'map'" 
            ng-click="ctrl.openModalForConfig(ctrl.editBt.onClose.updateParentForm, 'expression', 'map')">Editar Propriedade/Valor</button>
  </div>
</div>

<div class="stock-separator">
  <label for="">Evento ao fechar a modal</label>
</div>
<div class="form-group">
  <label for="">Source Key:</label>
  <select class="form-control input-sm" 
          ng-model="ctrl.editBt.onClose.event.sourceKey" 
          ng-options="source.key as source.key for source in ctrl.moduleEntitySources">
  </select>
</div>
<div class="form-group">
  <label for="">Método:</label>
  <input type="text" class="form-control input-sm" ng-model="ctrl.editBt.onClose.event.method">
</div>
