<!-- Config Field -->
<ul class="nav-components sb-field-text" ng-show="ctrl.onEditField">
  <li class="item-components">
    Propriedades do campo
  </li>
  <div class="inner-item">
    <div class="form-group">
      <label for="">Tipo do Campo</label>
      <select  class="form-control input-sm" ng-model="ctrl.fieldEdit.meta.type" ng-change="ctrl.setTypeField(ctrl.fieldEdit.meta.type)">
        <option value="textarea">Área de Texto</option>
        <option value="string">Campo de Texto</option>
        <option value="checkbox">Checkbox</option>
        <option value="date">Data</option>
        <option value="finder">Finder</option>
        <option value="time">Hora</option>
        <option value="imagem">Imagem</option>
        <option value="select">Lista Suspensa</option>
        <option value="currency">Moeda</option>
        <option value="number">Número</option>
        <option value="radio">Radio Button</option>
      </select>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="">Título do Campo</label>
        <input class="form-control input-sm" placeholder="Escreva aqui" type="text" ng-model="ctrl.fieldEdit.label">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 no-padding">
        <div class="form-group">
          <label for="">Campo atribuído</label>
          <input type="text" 
                class="form-control input-sm" 
                ng-model="ctrl.fieldEdit.meta.bind"
                uib-typeahead="field.alias as field.alias for field in ctrl.data.entityFields | filter:{alias: $viewValue}" 
                typeahead-min-length="0" />
        </div>
      </div>
    </div>

    <div class="row" 
        ng-if="ctrl.fieldEdit.meta.type"
        ng-include="'studiov2.forms.sidebar.config-fields.'+ ctrl.fieldEdit.meta.type">
    </div>

    <div class="row">
      <div class="stock-separator">
        <label for="">Eventos</label>
      </div>
      <div class="form-group">
        <label for="">SourceKey</label>
        <input type="text" class="form-control input-sm" ng-model="ctrl.fieldEdit.sourceKey">
      </div>

      <div class="form-group">
        <label for="">Function Name</label>
        <input type="text" class="form-control input-sm" ng-model="ctrl.fieldEdit.functionName">
      </div>
    </div>
    
    <!-- Display -->
    <div class="stock-separator">
      <label for="">Display</label>
    </div>
    
    <div class="row">
      <div class="form-group">
        <label for="field-readonly">
          <input type="checkbox" ng-model="ctrl.fieldEdit.views.edit.readOnly" id="field-readonly">
          Somente Leitura
        </label>
      </div>
      <div class="form-group">
        <label>Visibilidade</label>
        <select class="form-control input-sm" ng-model="ctrl.fieldEdit.visibilityType">
          <option value="">Selecione</option>
          <option value="true">Sim</option>
          <option value="false">Não</option>
          <option value="function">Função</option>
          <option value="map">Propriedade/Valor</option>
        </select>
      </div>
      <button class="btn btn-primary btn-sm" 
              ng-if="ctrl.fieldEdit.visibilityType == 'function'" 
              ng-click="ctrl.openModalForConfig(ctrl.fieldEdit, 'visibilityExpression', 'function')">Editar função</button>

      <button class="btn btn-primary btn-sm" 
              ng-if="ctrl.fieldEdit.visibilityType == 'map'" 
              ng-click="ctrl.openModalForConfig(ctrl.fieldEdit, 'visibilityExpression', 'map')">Editar Propriedade/Valor</button>
    </div>

    <div class="row">
      <div class="form-group" ng-hide="ctrl.fieldEdit.meta.type == 'checkbox' && ctrl.fieldEdit.defaultValue == 'N'">
        <label>Campo obrigatório</label>
        <select class="form-control input-sm" ng-model="ctrl.fieldEdit.requiredType">
          <option value="">Selecione</option>
          <option value="true">Sim</option>
          <option value="false">Não</option>
          <option value="function">Função</option>
          <option value="map">Propriedade/Valor</option>
        </select>
      </div>
      <button class="btn btn-primary btn-sm" 
              ng-if="ctrl.fieldEdit.requiredType == 'function'" 
              ng-click="ctrl.openModalForConfig(ctrl.fieldEdit, 'requiredExpression', 'function')">Editar função</button>

      <button class="btn btn-primary btn-sm" 
              ng-if="ctrl.fieldEdit.requiredType == 'map'" 
              ng-click="ctrl.openModalForConfig(ctrl.fieldEdit, 'requiredExpression', 'map')">Editar Propriedade/Valor</button>
    </div>

    <div class="row">
      <div class="form-group">
        <label>Campo desabilitado</label>
        <select class="form-control input-sm" ng-model="ctrl.fieldEdit.disabledType">
          <option value="">Selecione</option>
          <option value="true">Sim</option>
          <option value="false">Não</option>
          <option value="function">Função</option>
          <option value="map">Propriedade/Valor</option>
        </select>
      </div>

      <button class="btn btn-primary btn-sm" 
              ng-if="ctrl.fieldEdit.disabledType == 'function'" 
              ng-click="ctrl.openModalForConfig(ctrl.fieldEdit, 'disabledExpression', 'function')">
          Editar função
      </button>

      <button class="btn btn-primary btn-sm" 
              ng-if="ctrl.fieldEdit.disabledType == 'map'" 
              ng-click="ctrl.openModalForConfig(ctrl.fieldEdit, 'disabledExpression', 'map')">
        Editar Propriedade/Valor
      </button>
    </div>

    <!-- <div class="row">
      <div class="form-group">
        <label for="">Descrição</label>
        <textarea class="form-control input-sm input-txt" required="required" ng-bind="ctrl.fieldEdit.comments"></textarea>
      </div>
    </div> -->

    <div class="row">
      <div class="form-group">
        <label for="">Texto de Ajuda</label>
        <textarea class="form-control input-sm input-txt" required="required" ng-model="ctrl.fieldEdit.meta.help"></textarea>
      </div>
    </div>
  </div>

  <div class="action-buttons">
    <div class="row">
      <div class="col-xs-12 col-sm-6 no-padding col-pdd">
        <button class="btn btn-default btn-block" ng-click="ctrl.cancelEditField()">Cancelar</button>
      </div>
      <div class="col-xs-12 col-sm-6 no-padding">
        <button type="button" class="btn btn-success btn-block" ng-click="ctrl.saveEditField()">Salvar</button>
      </div>
    </div>
  </div>
</ul>
<!--  Config Field -->