<!-- Config Section -->
<ul class="nav-components sb-widget" ng-show="ctrl.onEditSection">
  <!-- Estrutura -->
  <li class="item-components">
    Propriedades da Seção
    <div class="widget-toolbar default-toolbar hidden-print">
      <a href="#" data-action="collapse"><i class="fa fa-fw fa-chevron-up" role="app-widget-collapse"></i></a>
    </div>
  </li>
  <!-- Estrutura -->
  <div class="inner-item propriets-section">
    <div class="row">
      <div class="form-group">
        <label for="">Título da Seção</label>
        <input class="form-control input-sm" placeholder="Escreva aqui" type="text" ng-model="ctrl.currentSection.label">
      </div>
    </div>
  </div>
  <div class="inner-item propriets-section" ng-show="ctrl.currentSection.type == 'include'">
    <div class="stock-separator">
      <label for="">Tipo do seção</label>
    </div> 
    <div class="row">
      <div class="col-sm-6">
        <label for="section-type-list">
          <input type="radio" id="section-type-list" name="includeType" ng-model="ctrl.currentSection.includeType" value="list"> Lista 
        </label>
      </div>
      <div class="col-sm-6">
        <label for="section-type-edit">
          <input type="radio" id="section-type-edit" name="includeType" ng-model="ctrl.currentSection.includeType" value="edit"> Edição
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="">Chave do Formulário</label>
      <input class="form-control input-sm" 
            type="text" 
            placeholder="Digite aqui" 
            ng-model="ctrl.currentSection.include.key" 
            ng-keyup="ctrl.sanitizeKeyForm(ctrl.currentSection.include.key)">
    </div>
    <div class="row" ng-hide="true">
      <div class="stock-separator">
        <label for="">Origem do dado</label>
      </div>
      <div class="form-group clearfix">
        <div class="col-xs-12 col-sm-6 no-padding">
          <label for="type-entity">
            <input type="radio" ng-model="ctrl.currentSection.dataSource.type" name="type-data" id="type-entity" value="E">
            Entidade 
          </label>
        </div>
        <div class="col-xs-12 col-sm-6 no-padding">
          <label for="type-service">
            <input type="radio" ng-model="ctrl.currentSection.dataSource.type" name="type-data" id="type-service" value="S"> 
            Serviço 
          </label>
        </div>
      </div>

      <div class="form-group clearfix" ng-if="ctrl.currentSection.dataSource.type">
        <div class="col-xs-12 col-sm-12 no-padding">
          <div class="form-group">
            <div class="btn-group btn-block">
              <button class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                {[{ ctrl.moduleEntity.title || 'Módulos' }]} <i class="caret"></i>
              </button>
              <ul class="dropdown-menu btn-block">
                <li class="dropdown-header" ng-repeat-start="app in ctrl.apps track by $index" ng-bind="app.title"> </li>
                <li ng-repeat="mod in app.modules" ng-click="ctrl.getModuleEntity(mod.id, ctrl.currentSection.dataSource)">
                  <a href="" ng-bind="mod.title"></a>
                </li>
                <li ng-repeat-end role="separator" class="divider" ng-hide="$last"></li>
              </ul>
            </div>
          </div>
        </div>
      </div> 

      <div class="form-group clearfix" ng-show="ctrl.currentSection.dataSource.type == 'E'">
        <div class="col-xs-12 col-sm-12 no-padding">
          <div class="form-group">
            <label for="">Entidade</label>
            <input type="text" 
                    class="form-control input-sm" 
                    placeholder= "Selecione"
                    ng-model="ctrl.currentSection.dataSource.key"
                    uib-typeahead="entity.name as entity.name for entity in ctrl.entities | filter:{name: $viewValue}" 
                    typeahead-min-length="0" />
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!--   <li class="item-components">
    Template da Coluna
    <div class="widget-toolbar default-toolbar hidden-print">
      <a href="#" data-action="collapse"><i class="fa fa-fw fa-chevron-up" role="app-widget-collapse"></i></a>
    </div>
  </li> -->

<!--   <div class="inner-item template-col">
    <ul class="list-existing">
      <li class="item-list" ng-click="ctrl.currentSection.columns = 1" ng-class="{'item-list-selected' : ctrl.currentSection.columns == 1}">
        <div class="row-bx">
          <div class="col-amount col-am-1"></div>
        </div>
        <p class="txt-info-col">1 Coluna</p>
      </li>

      <li class="item-list" ng-click="ctrl.currentSection.columns = 2" ng-class="{'item-list-selected' : ctrl.currentSection.columns == 2}">
        <div class="row-bx">
          <div class="col-amount col-am-2"></div>
          <div class="col-amount col-am-2"></div>
        </div>
        <p class="txt-info-col">2 Coluna</p>
      </li>

      <li class="item-list" ng-click="ctrl.currentSection.columns = 3" ng-class="{'item-list-selected' : ctrl.currentSection.columns == 3}">
        <div class="row-bx">
          <div class="col-amount col-am-3"></div>
          <div class="col-amount col-am-3"></div>
          <div class="col-amount col-am-3"></div>
        </div>
        <p class="txt-info-col">3 Coluna</p>
      </li>
    </ul>
  </div> -->

<!--   <li class="item-components">
    Ordem de Tabulação
    <div class="widget-toolbar default-toolbar hidden-print">
      <a href="#" data-action="collapse"><i class="fa fa-fw fa-chevron-up" role="app-widget-collapse"></i></a>
    </div>
  </li>
  <div class="inner-item template-col order-tab">
    <ul class="list-existing">
      <li class="item-list" ng-click="ctrl.currentSection.tabSort = 1" ng-class="{'item-list-selected' : ctrl.currentSection.tabSort == 1}">
        <div class="row-bx tab-1"></div>
        <p class="txt-info-col">Tab 1</p>
      </li>

      <li class="item-list" ng-click="ctrl.currentSection.tabSort = 2" ng-class="{'item-list-selected' : ctrl.currentSection.tabSort == 2}">
        <div class="row-bx tab-2"></div>
        <p class="txt-info-col">Tab 2</p>
      </li>
    </ul>
  </div> -->
  <div class="action-buttons" style="z-index: 1;">
    <div class="row">
      <div class="col-xs-12 col-sm-6 no-padding col-pdd">
        <button type="button" id="btnWidgetCancel" class="btn btn-default btn-block" ng-click="ctrl.cancelEditSection()">Cancelar</button>
      </div>
      <div class="col-xs-12 col-sm-6 no-padding">
        <button type="button" id="btnWidgetSave" class="btn btn-success btn-block" ng-click="ctrl.saveSection()">Confirmar</button>
      </div>
    </div>
  </div>
</ul>
<!-- Config Section -->