<!-- Config Form -->
<div class="settings" ng-show="ctrl.onConfigForm">
  <!-- Sidebar Propriedades do Formulário -->
  <div class="sb-property">
    <ul class="nav-components">
      <!-- Estrutura -->
      <li class="item-components">
        Propriedades do Form
      </li><!-- Estrutura -->
      <div class="inner-item">
        <div class="row">
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <div class="btn-group btn-block">
                <label for="">Módulo do formulário</label>
                <button class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                  {[{ ctrl.moduleForm.title || 'Módulo'}]} <i class="caret"></i>
                </button>
                <ul class="dropdown-menu btn-block">
                  <li class="dropdown-header" ng-repeat-start="app in ctrl.apps track by $index" ng-bind="app.title"> </li>
                  <li ng-repeat="mod in app.modules" ng-click="ctrl.getModuleForm(mod.id)">
                    <a href="" ng-bind="mod.title"></a>
                  </li>
                  <li ng-repeat-end role="separator" class="divider" ng-hide="$last"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <label for="">Título do Formulário</label>
              <input class="form-control input-sm" 
                    placeholder="Digite aqui" 
                    type="text" 
                    ng-model="ctrl.configForm.label" 
                    ng-keyup="ctrl.completeKeyForm()">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label for="">Chave do Formulário</label>
            <input class="form-control input-sm" 
                    placeholder="Ex: app.module.form" 
                    type="text" 
                    ng-blur="ctrl.validateConfigForm('formKey')"
                    ng-model="ctrl.configForm.key" 
                    ng-keyup="ctrl.sanitizeKeyForm(ctrl.configForm.key)">
            <small class="text-danger" ng-if="ctrl.configForm.error.key"> Preencha uma key para o form</small>
          </div>
        </div>

        <div class="row">
          <div class="stock-separator">
            <label>Origem do Dado</label>
          </div>
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <div class="btn-group btn-block">
                <button class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                  {[{ ctrl.moduleEntity.title || 'Módulos' }]} <i class="caret"></i>
                </button>
                <ul class="dropdown-menu btn-block">
                  <li class="dropdown-header" ng-repeat-start="app in ctrl.apps track by $index" ng-bind="app.title"> </li>
                  <li ng-repeat="mod in app.modules" ng-click="ctrl.getModuleEntity(mod.id, ctrl.configForm.dataSource)">
                    <a href="" ng-bind="mod.title"></a>
                  </li>
                  <li ng-repeat-end role="separator" class="divider" ng-hide="$last"></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <label for="">Entidade</label>
              <input type="text" 
                      class="form-control input-sm" 
                      placeholder= "Selecione"
                      ng-model="ctrl.configForm.dataSource.key"
                      uib-typeahead="entity.name as entity.name for entity in ctrl.entities | filter:{name: $viewValue}" 
                      typeahead-min-length="0" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="btn-group btn-block">
            <label for="">Módulo da permissão</label>
            <button class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              {[{ ctrl.modulePermission.title || 'Módulo'}]} <i class="caret"></i>
            </button>
            <ul class="dropdown-menu btn-block">
              <li class="dropdown-header" ng-repeat-start="app in ctrl.apps track by $index" ng-bind="app.title"> </li>
              <li ng-repeat="mod in app.modules" ng-click="ctrl.getPermissions(mod.id)">
                <a href="" ng-bind="mod.title"></a>
              </li>
              <li ng-repeat-end role="separator" class="divider" ng-hide="$last"></li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="">Permissão</label>
          <input type="text" 
                class="form-control input-sm" 
                ng-model="ctrl.configForm.permissions"
                placeholder="Permissão" 
                uib-typeahead="pm.key as pm.title for pm in ctrl.permissions | filter:{title: $viewValue}" 
                typeahead-min-length="0" />
        </div>

        <div class="form-group">
          <label for="">Template</label>
          <select class="form-control input-sm" 
                  ng-model="ctrl.configForm.template" 
                  ng-options="template.key as template.name for template in ctrl.moduleEntity.templates">
            <option value="">Padrão</option>
          </select>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <input type="checkbox" id="cbx-unconditional-search" ng-model="ctrl.configForm.inactive">
              <label for="cbx-unconditional-search">Formulário Inativo</label>
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <label for="">Descrição</label>
              <textarea class="form-control input-sm input-txt" required="required" ng-model="ctrl.configForm.description"></textarea>
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="checkbox" ng-model="ctrl.configForm.final" id="config-form-final">
          <label for="config-form-final"> Final </label>
        </div>
        
        <div class="row">
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <button type="button" class="btn btn-success btn-block" ng-click="ctrl.codeView()">
                <i class="fa fa-download" aria-hidden="true"></i> Ver código
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <button type="button" class="btn btn-danger btn-block" ng-click="ctrl.deleteForm()">
                <i class="fa fa-trash" aria-hidden="true"></i> Deletar Formulário
              </button>
            </div>
          </div>
        </div>
      </div>
    </ul><!-- End Nav -->

    <div class="action-buttons">
      <div class="row">
        <div class="col-xs-12 col-sm-6 no-padding col-pdd">
          <button type="button" 
                  id="btnCancelPropriets" 
                  class="btn btn-default btn-block" 
                  ng-disabled="ctrl.configForm.firstConfig" 
                  ng-click="ctrl.cancelConfigForm()">Cancelar
          </button>
        </div>
        <div class="col-xs-12 col-sm-6 no-padding">
          <button type="button" class="btn btn-success btn-block" ng-click="ctrl.saveConfigForm()">Concluir</button>
        </div>
      </div>
    </div>
  </div><!-- End Sidebar Propriedades do Formulário -->
</div>