 <div class="modal-header">
  <h3 class="modal-title" id="modal-title">Área do código</h3>
</div>
<div class="modal-body" id="modal-body">
<!-- map -->
  <div class="inner-item">
    <div class="hard-code">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <textarea class="form-control input-sm input-txt" required="required" ></textarea>
          <p class="txt-litle">30 caracteres digitados</p>
        </div>
      </div> 
    </div>
  </div>
</div>
<!-- map -->
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>