<!-- Config Field xxx-->
<ul class="nav-components sb-field-text" ng-show="ctrl.onEditField">
  <!-- Estrutura -->
  <li class="item-components">
    Novo Campo Texto
  </li>
  <div class="inner-item">
    <div class="form-group">
      <label for="">Tipo do Campo</label>
      <select  class="form-control input-sm" id="input-crm_person-do_type" ng-model="ctrl.fieldEdit.meta.type">
        <option value="string">Campo de Texto</option>
        <option value="select">Lista Suspensa</option>
        <option value="textarea">Área de Texto</option>
        <option value="radio">Radio Button</option>
        <option value="checkbox">Checkbox</option>
        <option value="imagem">Imagem</option>
        <option value="currency">Moeda</option>
        <option value="number">Número</option>
      </select>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="">Título do Campo</label>
        <input  class="form-control input-sm" placeholder="Escreva aqui" type="text" ng-model="ctrl.fieldEdit.label">
      </div>
    </div>

    <div class="row" ng-include="'studiov2.forms.sidebar.config-fields.'+ ctrl.fieldEdit.meta.type" ng-show="ctrl.fieldEdit.meta.type"></div>

    <div class="row">
      <div class="form-group">
        <label for="">Descrição</label>
        <textarea class="form-control input-sm input-txt" required="required" ng-bind="ctrl.fieldEdit.comments"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="">Texto de Ajuda</label>
        <textarea class="form-control input-sm input-txt" required="required" ng-bind="ctrl.fieldEdit.help"></textarea>
      </div>
    </div>
    <div class="row row-checkbox">
      <div class="form-group">
        <input type="checkbox" id="cbx-unconditional-search" ng-model="ctrl.fieldEdit.required"/>
        <label for="cbx-unconditional-search">Campo Obrigatório</label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="cbx-unconditional-search" ng-model="ctrl.fieldEdit.filter">
        <label for="cbx-unconditional-search">Campo Pesquisável</label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="cbx-unconditional-visible" ng-model="ctrl.fieldEdit.visible">
        <label for="cbx-unconditional-search">Campo Visível</label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="cbx-unconditional-search" ng-model="ctrl.fieldEdit.disabled">
        <label for="cbx-unconditional-search">Campo Desabilitado</label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="cbx-unconditional-search" ng-model="ctrl.fieldEdit.viewList">
        <label for="cbx-unconditional-search">Campo Listável</label>
      </div>
      <div class="form-group">
        {{#include-html}}studiov2.forms.sidebar.config-fields.visibilityRule{{/include-html}}
      </div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-success btn-block">Novo Evento</button>
    </div>
  </div>
  <!-- Estrutura -->
  <div class="action-buttons">
    <div class="row">
      <div class="col-xs-12 col-sm-6 no-padding col-pdd">
        <button class="btn btn-default btn-block" ng-click="ctrl.cancelEditField()">Cancelar</button>
      </div>
      <div class="col-xs-12 col-sm-6 no-padding">
        <button type="button" class="btn btn-success btn-block" ng-click="ctrl.saveEditField()">Salvar</button>
      </div>
    </div>
  </div>
</ul>
<!--  Config Field -->