<!-- Config Form -->
<div class="settings" ng-show="ctrl.onConfigForm">
  <!-- Sidebar Propriedades do Formulário -->
  <div class="sb-property">
    <ul class="nav-components">
      <!-- Estrutura -->
      <li class="item-components">
        Propriedades do Form
      </li><!-- Estrutura -->
      <div class="inner-item">
        <div class="row">
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <label for="">Título do Formulário</label>
              <input class="form-control input-sm" autofocus placeholder="Digite aqui" type="text" ng-model="ctrl.configForm.label">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <div class="btn-group btn-block">
                <label for="">Módulo do formulário</label>
                <button class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                  {[{ ctrl.moduleForm.title || 'Módulo'}]} <i class="caret"></i>
                </button>
                <ul class="dropdown-menu btn-block">
                  <li class="dropdown-header" ng-repeat-start="app in ctrl.apps track by $index" ng-bind="app.title"> </li>
                  <li ng-repeat="mod in app.modules" ng-click="ctrl.moduleForm = mod"><a href="" ng-bind="mod.title"></a></li>
                  <li ng-repeat-end role="separator" class="divider" ng-hide="$last"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
<br>
        <div class="row form-group clearfix">
          <div class="col-xs-12 col-sm-12 no-padding">
            <label>Origem do Dado</label>
          </div> 
          <div class="col-xs-12 col-sm-6 no-padding">
            <label for="type-entity">
              <input type="radio" ng-model="ctrl.configForm.dataSource.type" name="type-data" id="type-entity" value="E">
              Entidade 
            </label>
          </div>
          <div class="col-xs-12 col-sm-6 no-padding">
            <label for="type-service">
              <input type="radio" ng-model="ctrl.configForm.dataSource.type" name="type-data" id="type-service" value="S"> 
              Serviço 
            </label>
          </div>
        </div>

        <div class="row" ng-if="ctrl.configForm.dataSource.type">
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <div class="btn-group btn-block">
                <button class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                  {[{ ctrl.module.title || 'Módulos' }]} <i class="caret"></i>
                </button>
                <ul class="dropdown-menu btn-block">
                  <li class="dropdown-header" ng-repeat-start="app in ctrl.apps track by $index" ng-bind="app.title"> </li>
                  <li ng-repeat="mod in app.modules" ng-click="ctrl.getModule(mod.id)"><a href="" ng-bind="mod.title"></a></li>
                  <li ng-repeat-end role="separator" class="divider" ng-hide="$last"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row" ng-show="ctrl.configForm.dataSource.type == 'E'">
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <label for="">Entidade</label>
              <select class="form-control input-sm" 
                      ng-model="ctrl.configForm.dataSource.key" 
                      ng-change="ctrl.getFieldsByEntity(ctrl.configForm.dataSource.key)" 
                      ng-options="entity.name as entity.name for entity in ctrl.entities">
                <option value="">Selecione</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <label for="">Permissão</label>
              <input type="text" 
                    class="form-control" 
                    ng-model="ctrl.configForm.permissions"
                    placeholder="Permissão" 
                    uib-typeahead="pm as pm.title for pm in ctrl.permissions | filter:{title: $viewValue}" 
                    typeahead-min-length="0" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="">Template</label>
          <select class="form-control input-sm" ng-model="ctrl.configForm.template">
            <option value="">Padrão</option>
          </select>
        </div>

        <div class="row">
          <div class="form-group">
            <label for="">Chave do Formulário</label>
            <input class="form-control input-sm" placeholder="Digite aqui" type="text" ng-model="ctrl.configForm.key">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <input type="checkbox" id="cbx-unconditional-search" ng-model="ctrl.configForm.inactive">
              <label for="cbx-unconditional-search">Formulário Inativo</label>
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <label for="">Descrição</label>
              <textarea class="form-control input-sm input-txt" required="required" ng-model="ctrl.configForm.description"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <button type="button" id="advancedMode" class="btn btn-primary btn-block" ng-click="ctrl.generateForm()">
                <i class="fa fa-magic" aria-hidden="true"></i> Gerar Formulário
              </button>
            </div>
          </div>
        </div>

<!--         <div class="row">
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <button type="button" class="btn btn-success btn-block">
                <i class="fa fa-download" aria-hidden="true"></i> Exportar formulário
              </button>
            </div>
          </div>
        </div> -->

        <div class="row">
          <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-group">
              <button type="button" class="btn btn-danger btn-block" ng-click="ctrl.deleteForm()">
                <i class="fa fa-trash" aria-hidden="true"></i> Deletar Formulário
              </button>
            </div>
          </div>
        </div>
      </div>
    </ul><!-- End Nav -->

    <div class="action-buttons">
      <div class="row">
        <div class="col-xs-12 col-sm-6 no-padding col-pdd">
          <button type="button" id="btnCancelPropriets" class="btn btn-default btn-block" ng-click="ctrl.cancelConfigForm()">Cancelar</button>
        </div>
        <div class="col-xs-12 col-sm-6 no-padding">
          <button type="button" class="btn btn-success btn-block" ng-click="ctrl.saveConfigForm()">Salvar</button>
        </div>
      </div>
    </div>
  </div><!-- End Sidebar Propriedades do Formulário -->
</div>