<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Área do código</h3>
  <p class="alert alert-info">Link para documentação da api de código</p>
</div>

<div class="modal-body" id="modal-body">
  <textarea class="form-control input-sm input-txt" code-mirror ng-model="ctrl.expression" id="code-function"></textarea>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>